<div class="wrapper container">
    <div class="form signup">
        <header class="mb-3">Signup</header>
        <form action="#" [formGroup]="registerForm">
            <div class="form-floating mb-3">
                <input type="text" formControlName="mno" name="mmno" class="form-control" id="floatingmno" placeholder="mobile number">
                <label for="floatingInput">Mobile Number</label>
            </div>
            <div *ngIf="this.registerForm.get('mno')?.errors && this.registerForm.get('mno')?.touched">
                <p class="text-danger">You must enter number</p>
            </div>
    
    
            <div class="form-floating mb-3">
                <input type="text" formControlName="uname" name="name" class="form-control" id="floatingname" placeholder="name">
                <label for="floatingInput">Name</label>
            </div>
            <div *ngIf="this.registerForm.get('uname')?.errors && this.registerForm.get('uname')?.touched">
                <p class="text-danger">You must enter name</p>
            </div>
    
    
            <div class="form-floating mb-3">
                <input type="text" formControlName="address" name="adrs" class="form-control" id="floatingaddress" placeholder="address">
                <label for="floatingInput">Address</label>
            </div>
            <div *ngIf="this.registerForm.get('address')?.errors && this.registerForm.get('address')?.touched">
                <p class="text-danger">You must enter address</p>
            </div>
    
    
            <div class="form-floating mb-3">
                <input type="email" formControlName="email" name="mail" class="form-control" id="floatingemail" placeholder="email address">
                <label for="floatingInput">Email Address</label>
            </div>
            <div *ngIf="this.registerForm.get('email')?.errors && this.registerForm.get('email')?.touched">
                <p class="text-danger">You must enter email</p>
            </div>
    
    
            <div class="form-floating mb-3">
                <input type="password" formControlName="psw" name="ps" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <div *ngIf="this.registerForm.get('psw')?.errors && this.registerForm.get('psw')?.touched">
                <p class="text-danger">You must enter password with number and letter</p>
            </div>
    
    
            <div class="form-floating mb-3">
                <input type="password" formControlName="cpsw" name="cps" class="form-control" id="floatingcPassword" placeholder="cPassword">
                <label for="floatingPassword">Comform Password</label>
            </div>
            <div *ngIf="pswCheck">
                <p>You password does not match</p>
            </div>
            <div class="checkbox mb-3">
                <input type="checkbox" id="signupCheck" />
                <label for="signupCheck">I accept all terms & conditions</label>
            </div>
            <button type="submit" class="btn signupbtn w-100" (click)="signup()">
                Signup <i class="fa-solid fa-user-plus"></i>
            </button> 
            <a href="loginPage" class="btn mt-4 container login">
                Login <i class="fa-solid fa-arrow-right-to-bracket"></i>
            </a>
        </form>
    </div>
</div>