<!-- home -->
<div class="main">

    <div class="men_text col-6">
        <h1>Get Fresh<span>Food</span><br>in a Easy Way</h1>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse reiciendis quaerat nobis 
            deleniti amet non inventore. Reprehenderit recusandae voluptatibus minus tenetur itaque numquam 
            cum quos dolorem maxime. Quas, quaerat nisi. Lorem ipsum dolor sit, amet consectetur adipisicing 
            elit. Cumque facilis, quaerat cupiditate nulla quibusdam quo sunt esse tempore inventore vel 
            voluptate, amet laudantium adipisci veniam nihil quam molestiae omnis mollitia.
        </p>
        <div class="main_btn">
            <a href="#">Order Now</a>
            <i class="fa-solid fa-angle-right"></i>
        </div>
    </div>
    <div class="main_image col-6">
        <img src="https://i.postimg.cc/26D9wMPQ/about-us.png">
    </div>

</div>



<!--About-->

<div class="about" id="About">
    <div class="about_main ">
        <div class="image col-6">
            <img src="https://i.postimg.cc/C59TNmYb/MERRY-FOODS.png">
        </div>

        <div class="about_text col-6">
            <h1><span>About</span>Us</h1>
            <h3>Why Choose us?</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita, est. Doloremque
                    sapiente veritatis laboriosam corrupti optio et maxime. Ad, amet explicabo eaque labore
                    cupiditate quasi nostrum nemo recusandae id quibusdam? Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Doloremque ab, dolores pariatur cum exercitationem, illo nisi
                    veritatis vitae ea deleniti fugiat quisquam tempora, accusantium corrupti excepturi optio.
                    Inventore, cupiditate recusandae.
            </p>
        </div>

    </div>

    <!-- <a href="#" class="about_btn">Order Now</a> -->
    <a  href="admin" class="btn mt-4 container adminLogin">
        Admin Login <i class="fa-solid fa-screwdriver-wrench"></i>
    </a>
</div>

