<!-- home -->
<div class="main">

    <div class="men_text col-6">
        <h1>Get Fresh<span>Food</span><br>in a Easy Way</h1>
        <p>
            Our food processing  industry, we believe that every business deserves a fair shot at success, 
            regardless of their size or location. That's why we're bringing a revolutionary 
            shift to the world of business and entrepreneurship. Join us on this exciting 
            journey and let's empower your business to reach new heights!
        </p>
        <div class="main_btn">
            <a href="loginPage">Order Now</a>
            <i class="fa-solid fa-angle-right"></i>
        </div>
    </div>
    <div class="main_image col-6">
        <img src="https://i.postimg.cc/26D9wMPQ/about-us.png">
    </div>

</div>



<!--About-->

<div class="about" id="About">
    <div class="about_main ">
        <div class="image col-6">
            <img src="https://i.postimg.cc/C59TNmYb/MERRY-FOODS.png">
        </div>

        <div class="about_text col-6">
            <h1><span>About</span>Us</h1>
            <h3>Why Choose us?</h3>
            <p>
                At Merry foods,which loaction in ernakulam, we are on a mission to empower small and medium-scale local businesses 
                to compete with global high-tech autonomous entities. Our cutting-edge technology 
                is accessible to all, which means you don't need to be a tech guru or have deep pockets 
                to succeed.Our focus is particularly on India's rapid industrialization, and we are 
                committed to reducing the number of companies that are forced to shut down. 
                By pooling local and global resources, offering AI assistance at every step, and 
                providing real-time insights at your fingertips, we are smoothing the entrepreneurial journey.
            </p>
        </div>

    </div>

    <!-- <a href="#" class="about_btn">Order Now</a> -->
    <a  href="admin" class="btn mt-4 container adminLogin">
        Admin Login <i class="fa-solid fa-screwdriver-wrench"></i>
    </a>
</div>

