<!-- <p>admin-product-s works!</p> -->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center"><!--step13-->
            <div class="col-md-6">
                <img class="card-img-top mb-5 mb-md-0" style="width: 75%;" src={{productS.productImg}} alt="..." /></div>
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder">{{productS.productName}}</h1>
                <div class="fs-5 mb-5">
                    <span class="text-decoration-line-through">{{productS.price+0}} </span>
                    <span>{{productS.price}}</span>
                </div>
                <p class="lead">{{productS.description}}</p>
                <p class="lead">Review: {{productS.review}}</p>
                <!-- <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1"
                        style="max-width: 3rem" />
                    <button class="btn btn-outline-dark flex-shrink-0" type="button">
                        <i class="bi-cart-fill me-1"></i>
                        Add to cart
                    </button>
                </div> -->
                <div>
                    <a href="addProduct" class="btn mt-4 container w-25 admin">
                        Add Product <i class="fa-solid fa-arrow-right-to-bracket"></i>
                    </a>
                    <a href="editProduct/{{productS.id}}" class="btn mt-4 ms-5 container w-25 admin">
                        Edit Product <i class="fa-solid fa-arrow-right-to-bracket"></i>
                    </a>
                    <button (click)="deleteProduct()" class="btn mt-4 ms-5 container w-25 admin">
                        Delete <i class="fa-solid fa-arrow-right-to-bracket"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>